body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0e8ff;
  min-height: 100vh;
}

/* 
**************************************************
**************************************************
base.html -- Styles
**************************************************
**************************************************
*/

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #7e58d2;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.navbar > h1 {
  font-size: 18px;
  margin: 0;
}

.navbar > a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.navbar > a:hover {
  text-decoration: underline;
}

.content {
  /* display: flex;;
  align-items: center;
  justify-content: space-around; */
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
  background-color: #7e58d2;
  background-repeat: no-repeat;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* 
**************************************************
Page -- Styles
Ex) index.html, about.html
**************************************************
*/

.header {
  color: black;
  text-align: center;
  font-size: 24px;
  margin-block-start: 60px;
}

main {
  text-align: center;
  margin-inline: 10vw;
  line-height: 2;
  margin-block-end: 60px;
}

/* 
**************************************************
Auth.html -- Styles
Sign in and Sign up forms
**************************************************
*/

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #7e58d2;
}

button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #7e58d2;
  background-color: #7e58d2;
  color: #fff;
  cursor: pointer;
}

button:hover {
  font-weight: bold;
  box-shadow: 0 0 5px #7e58d2;
}

form > a {
  color: #7e58d2;
  text-decoration: none;
}

/* 
**************************************************
Games.html -- Styles
List of games
**************************************************
*/

.gameList {
  padding-inline: 10vw;
  list-style-type: none;
  line-height: 2;
}

.gameList > li {
  margin: 10px;
  border: 1px solid #7e58d2;
  border-radius: 5px;
}

.gameList > li > a {
  display: block;
  margin: 0;
  padding-block: 10px;
  color: #7e58d2;
  text-decoration: none;
}

.gameList > li:hover {
  background-color: #7e58d2;
  color: #fff;
}
.gameList > li > a:hover {
  background-color: #7e58d2;
  color: #fff;
}

/* 
**************************************************
games_base.html -- Styles
**************************************************
*/

.game-container {
  display: grid;
  margin-inline: 5vw;
  margin-block: 20px;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  align-items: flex-start;
}

.game-content {
  display: block; /* Not needed, but added as placeholder */
}

.game-info {
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 0.65vw);
}

/* Ensure the first item does not grow in height */
.game-info:first-child {
  align-self: flex-start; /* Align the first item to the start */
  grid-row: 1 / span 1; /* Ensure the first item stays in the first row */
}

/* Allow subsequent items to grow in height */
.game-info:not(:first-child) {
  align-self: stretch; /* Allow items to stretch vertically */
}

/*
**************************************************
Individual Game Styles
Ex) snake.html, tetris.html
**************************************************
*/

.gameCanvas {
  display: block;
  border: 1px solid black;
  background-color: #f0f0f0;
  margin: auto;
}

.score {
  font-size: 24px;
  margin: 10px;
}
