{% extends "./games/game_base.html" %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Snake Game</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% block game_content %}
    <canvas id="gameCanvas" class="gameCanvas" width="500" height="500"></canvas>
    <div id="score" style="text-align: center">Score: 0</div>
    {% endblock %} {% block how_to_play %}
    <p>
      Use the W, A, S, D to move the snake. Don't run into the walls or your own
      tail!
    </p>
    {% endblock %} {% block high_scores %}
    <p>1. Alice: 100 points</p>
    <p>2. Bob: 80 points</p>
    <p>3. Charlie: 60 points</p>
    
    <script src="{{ url_for('static', filename='game_scripts/snake.js') }}"></script>
    {% endblock %}
  </body>
</html>
