<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Snake Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <style>
      canvas {
        border: 1px solid black;
        background-color: #f0f0f0;
        display: block;
        margin: 10px auto 0 auto;
      }
    </style>
  </head>
  <body>
    <nav class="navbar">
      <h1>Low Grade Arcade</h1>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/games">Games</a>
      <a href="/auth">Sign In</a>
    </nav>

    <canvas id="gameCanvas" width="500" height="500"></canvas>

    <div id="score" style="text-align: center">Score: 0</div>
    
    <script src="{{ url_for('static', filename='game_scripts/snake.js') }}"></script>
  </body>
</html>
