{% extends "./games/game_base.html" %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Snake Game</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% block game_content %}
    <canvas id="gameCanvas" class="gameCanvas" width="500" height="500"></canvas>
    <div style="text-align: center">Score: <span id="score">0</span></div>
    {% endblock %} {% block how_to_play %}
    <p>
      Use the W, A, S, D to move the snake. Don't run into the walls or your own
      tail!
    </p>
    {% endblock %} {% block high_scores %}
    <table>
      <tr>
        <th>Username</th>
        <th>Score</th>
      </tr>
      {% for score in high_scores %}
      <tr>
        <td>{{ score[1] }}</td>
        <td>{{ score.score }}</td>
      </tr>
      {% endfor %}
    </table>
    <script src="{{ url_for('static', filename='game_scripts/snake.js') }}"></script>
    {% endblock %}
  </body>
</html>
