{% extends "./games/game_base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space Invaders</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    
  </head>
  <body>
    {% block game_content %}
    <canvas id="gameCanvas" class="gameCanvas" width="500" height="500" style="background-image: url(/static/images/space-invaders-assets/background.png);"></canvas>
    <div style="text-align: center">Score: <span id="score">0</span></div>
    {% endblock %} {% block how_to_play %}
    <p>
      Use the arrow keys to move and the space bar to shoot. Don't let the
      aliens reach the bottom!
    </p>
    {% endblock %} 
    {% block high_scores %}
    <table>
      <tr>
        <th>Username</th>
        <th>Score</th>
      </tr>
      {% for score in high_scores %}
      <tr>
        <td>{{ score[0] }}</td>
        <td>{{ score.score }}</td>
      </tr>
      {% endfor %}
    </table>
    <script src="{{ url_for('static', filename='game_scripts/space-invaders.js') }}"></script>
    {% endblock %}
  </body>
</html>
