<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space Invaders</title>
    <link rel="stylesheet"href="{{ url_for('static', filename='css/style.css') }}" />
    <style>
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      canvas {
        display: block;
        margin: 0 auto;
        background-color: #f0f0f0;
      }
    </style>
  </head>
  <body>
    <nav class="navbar">
      <h1>Low Grade Arcade</h1>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/games">Games</a>
      <a href="/auth">Sign In</a>
    </nav>
    <canvas id="gameCanvas" width="480" height="320"></canvas>
    <script src="{{ url_for('static', filename='game_scripts/space-invaders.js') }}"></script>
  </body>
</html>
