{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignIn/SignUp</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    
  </head>
  <body>
    {% block content %}
    <header class="header">
      <h1>Create an Account</h1>
    </header>
    <main>
      <form action="" method="post">
        <input type="text" id="username" name="username" placeholder="Username" required />
        <input type="password" id="password" name="password" placeholder="Password" />
        <button type="submit" formaction="register.php">Sign Up</button>
        <a href="/login">Already have an account? Sign in here.</a>
      </form>
    </main>
    {% endblock %}
  </body>
</html>
