<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <nav class="navbar">
      <h1>Low Grade Arcade</h1>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/games">Games</a>
      <a href="/auth">Sign In</a>
    </nav>
    <header class="header">
      <h1>Games</h1>
    </header>

    <main>
      <ul class="gameList">
        <li>
          <a href="/games/space_invaders/space-invaders.html">Space Invaders</a>
        </li>
        <li><a href="/games/pong/pong.html">Pong</a></li>
        <li><a href="/games/snake/snake.html">Snake</a></li>
      </ul>
    </main>

    <footer>
      <p>&copy; 2024 Low Grade Arcade</p>
    </footer>
  </body>
</html>
