<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% extends "base.html" %} {% block content %}
    <header class="header">
      <h1>Games</h1>
    </header>

    <main>
      <ul class="gameList">
        <li>
          <a href="/games/space-invaders">Space Invaders</a>
        </li>
        <li><a href="/games/pong">Pong</a></li>
        <li><a href="/games/snake">Snake</a></li>
      </ul>
    </main>
    {% endblock %}
  </body>
</html>
