<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Retro Arcade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  </head>
  <body>
    <nav class="navbar">
      <h1>Low Grade Arcade</h1>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/games">Games</a>
      <a href="/auth">Sign In</a>
    </nav>
    <header class="header">
      <h1>Welcome!</h1>
    </header>
    <main>
      <p style="margin: 0">
        Welcome to Low Grade Arcade! This is a website that has three classic
        games: Snake, Pong, and Space Invaders. Each game has been recreated
        using HTML, CSS, and JavaScript. The website also has a sign-in/sign-up
        page. The website is a work in progress and will be updated with more
        games and features in the future.
      </p>
    </main>
    <footer>
      <p>&copy; 2024 Low Grade Arcade</p>
    </footer>
  </body>
</html>
